div#header{background-color:#cfe8ed; margin: 0px;}
div#header h1{height:60px;line-height:60px;margin:0;padding-left:15px;}
div#header {background-image: url(./img/headerbg_green.png); background-repeat: repeat-x; }

div#container{text-align:left;}
div#container{width:100%;margin:0 auto;}

div#content p{line-height:1.4; margin-bottom:5px;margin-left: 15px;margin-top: 15px; margin-right: 15px;}
div#content{float:right;width:90%;}
div#content h3{margin-left: 15px; color:#207777;margin-right:15px;}

/*div#content {background-image: url(./img/contentbg.png); background-repeat: repeat-x; }*/

div#menu{float:left; height:100%; width:10%; }
div#menu ul{margin:15px; padding:0; list-style-type:none;}
div#menu li{margin-bottom:5px;}

div#footer{background:#cfe8ed;text-align:center; margin-top:600px;}
div#footer p{margin:0px;padding:5px 10px}
div#footer{clear:both;width:100%}

div#extra{background:#CCC8B3;}
div#extra{float:right;width:90%; margin-top:10px; margin-bottom: 0px;}

div#tile{float:left; background-color: #FFFFFF; height: 200px; border-radius: 15px;}
div#tile{box-shadow: 1px 1px 3px #888888; margin: 3px;}


body {
font-size:80%;
font-family:"Calibri",verdana,arial,'sans serif'; 
background-color:#F5F5F5;
color:#000000;
margin:0px;
}

h1 {font-size:200%;}
h2 {font-size:140%;padding-left:10px;}
h3.centered {text-align: center;}

table#input_fields td{background-color:#F5F5F5;}
table#input_fields{border-collapse:collapse;}

table#tile {border-collapse:collapse; margin: 10px;}
table#tile td{}

th {background-color:#cfe8ed;}
td {background-color:#FFFFFF; font-size:100%;padding:3px;}
td.stock {text-align:center;}

a:link {color:#0C8CD2;text-decoration:none;}
a:hover {font-weight:bold;text-decoration:none;}
a:visited {color:#0C8CD2;text-decoration:none;}

.logout a:visited {color:#2C5C72;}
.logout a:link {color:#0C5C72;}
.logout a:hover {color:#0C5C72; text-decoration:underline; font-weight: normal;}

